.navbar {
	border-radius: 0px;
}

.btn{
	margin: 0 auto;
	margin-top: 20px;
}

<<<<<<< HEAD
#profileimg {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
=======
/* haidi */

.kotak-konfirmasi{
	border-style :solid;
	border-width :3;
	margin-top: 0px;
}
>>>>>>> ae5dcde0cb3ff0924269342858c9f398a5ece9f2
